<div *ngIf="filename" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">{{ filename }}</h2>
                </div>
                <div class="card-body">
                    <!-- Forces rendering of the content even if not visible -->
                    <ng-content id="spinnerContent"></ng-content>
                    <pre *ngIf="!loading"><code [highlight]="body!" language="javascript"></code></pre>
                    <div *ngIf="!loading">
                        <p>In the line <code [highlight]="'a = 20 * 3'" language="javascript"></code> the value of
                            <code [highlight]="'a = 20 * 3'" language="javascript"></code> is <code [highlight]="'60'"
                                  language="javascript"></code>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>