<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Selected File</h3>
                </div>
                <div class="card-body">
                    <p id="filename" class="text-center">{{ currentFile }}</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary" (click)="compile()">Compile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>